body {
    font-family: Arial, sans-serif;
    font-style: normal;
}

div.navheader  {
    background-color: #405871;
    color: #ffffff;
    font-size: 150%;
}

div.navfooter {
    font-weight: bold;
}

#namespaces {
	border: 1px solid black;
}

#namespaces td {
	padding:	0.2em 1em;
	font-weight: bold;
}

#namespaces thead {
	background-color: #eee;
}

#namespaces tr.init {
	background-color: #e88;	
}

#namespaces tr.childinit {
	background-color: #eee;		
}

#namespaces tr.processing {
	background-color: #e88;	
}	
#namespaces tr.childexit {
	background-color: #eee;		
}



a {
    text-decoration: none;
}

a:link {
    font-weight: bold;
}
a:visited {
    font-weight: normal;
}
a:active {
    text-decoration: underline;
}
a:hover {
    text-decoration: underline;
}