body {
    font-family: Arial, sans-serif;
    font-style: normal;
    color: #000000;
    background-color: #FFFFFF;
}

A:link { color: #cc3300 }
A:visited { color : #003399; }
A:hover { color : #000000 ; background-color : #aaaaaa }

h1 {
    font-family: Arial, sans-serif;
    color: #000000;
}

h2 {
    font-family: Arial, sans-serif;
}

h3 {
    font-family: Arial, sans-serif;
}
b {
    font-weight: bold;
}

td {
    font-family: Arial, sans-serif;
    color: #000000;
    padding: 0.25em;
}

code {
     color: #006600;
}

div.box {
 border-width: medium;
 padding: 0.25em;
 background-color: #dddddd;
}

li {
}